{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block styles %}
    <link href="{% static 'plugins/multi-select/css/multi-select.dist.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{% trans "User form" %}</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            {% crispy form %}

                        </div>

                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>

    </section>


{% endblock %}


{% block scripts %}

    <script src="{% static 'plugins/multi-select/js/jquery.multi-select.js' %}"></script>
    <script>
        $('#id_groups').multiSelect({})
    </script>
{% endblock scripts %}